/* Für allgemeine Texte */
@import "fonts/roboto-v30-latin.css";

/* Für Überschriften, "Logo" */
@import "fonts/unifrakturmaguntia-v16-latin.css";

body {
  font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
  font-family: "UnifrakturMaguntia", sans-serif;
  margin: 1rem 0;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
}
