/*
CSS-Datei für das Grid-Layout
 */

.grid {
  display: grid;
  gap: var(--space-xl);
}

.grid-cols-2 {
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 992px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
