/*
CSS-Datei für den Header
 */

/* Header oben fixiert */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Keine unterstrichenen Links */
header a {
  text-decoration: none;
}

/* Gestaltung der Navigationsleiste */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav .page-title {
  user-select: none;
  color: var(--white);
  font-family: "UnifrakturMaguntia", sans-serif;
  z-index: 999;
}

header nav .menu-toggle {
  /* Input-Checkbox soll nicht angezeigt werden */
  display: none;
}

header nav .menu-toggle-icon {
  /* Toggle-Icon soll Hand-Mauszeiger haben */
  cursor: pointer;
  z-index: 999;
}

header nav .menu-toggle-icon .close-menu-icon {
  /* Menü ist eingeklappt */
  display: none;
}

header nav .menu-toggle:checked ~ .menu-toggle-icon .open-menu-icon {
  /* Menü ist ausgeklappt */
  display: none;
}

header nav .menu-toggle:checked ~ .menu-toggle-icon .close-menu-icon {
  /* Menü ist ausgeklappt */
  display: inline-block;
}

header nav .menu {
  /* Menü ist eingeklappt */
  display: none;

  /* Allgemeiner Menü-Stil */
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 2rem 0 0 0;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-color: var(--primary);
  text-align: center;
  z-index: 998;
}

header nav .menu-toggle:checked ~ .menu {
  /* Menü ist ausgeklappt */
  display: block;
  /* Animation beim einblenden */
  animation-name: fadeInTop;
  animation-duration: 0.5s;
}

header nav .menu li:hover {
  /* Einzelnes Nav-Element bei Mauskontakt */
  border-radius: var(--border-radius);
  background-color: var(--primary-hover);
}

header nav .menu li {
  margin: var(--space);
}

header nav .menu li a {
  padding: var(--space);
  color: var(--white);
  display: block;
}

@media screen and (min-width: 992px) {
  /* Ca. ab Tablets wird die Menü-Leiste durchgehend angezeigt (muss nicht extra ausgeklappt werden) */
  header nav .menu-toggle-icon {
    display: none;
  }

  /* Weitere Anpassungen für die Desktop-Navigation */
  header nav .menu-toggle:checked ~ .menu {
    display: flex;
  }

  header nav .menu {
    display: flex;
    position: static;
    flex-direction: row;
    padding: 0;
  }

  header nav .menu li {
    margin: 0 0 0 var(--space);
  }

  header nav .menu li a {
    margin: 0;
    padding: var(--space) var(--space-lg);
  }
}

/* Einblend-Animation von oben nach unten */
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
